$primary: #333;

.header {
  min-height: 1000px;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/header-background.jpg") center center no-repeat;
  background-size: cover;
}
.header .slide {
  width: 70%;
  margin: 0 auto;
}
.inivitation {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/invitation-background.jpg") center center no-repeat;
  background-size: cover;
}

@media (max-width: 992px) {
  .navbar {
    background-color: var(--bs-dark);
  }
  .header {
    height: 800px !important;
    min-height: 800px !important;
  }

  .header .slide {
    width: 90%;
    margin: 0 auto;
  }
  .details {
    text-align: center;
  }
}
